<div class="row">
  <div class="col-md-6">
    <div class="card">
      <div class="card-header">
        <h4 class="card-title">Lista de Estados</h4>
        <!--<input #inputstring (keyup)="capturarString(inputstring.value)" type="text" class="form-control" placeholder="Entidad"/>-->
      </div>
      <div class="card-body">
        <div class="table-responsive">
          <table class="table">
            <thead class=" text-primary">


              <th>
                Nombres

              </th>
              <th> Cups</th>


            </thead>

            <tbody>

              <tr
                *ngFor="let pr of procedimientos | paginate: { itemsPerPage: tamano, currentPage: p, totalItems:total }">
                  
               <td>
                {{pr?.nombre}} </td>
                <td>{{pr?.cups}}

                <td><button (click)="seleccionPro(pr)" class="btn btn-primary btn-round">Seleccion</button></td>
              </tr> <td class="text-right">

            </tbody>
          </table>
          <pagination-controls previousLabel="Anterior" nextLabel="Siguiente"
            (pageChange)="p=$event; listarProcedimientos();"></pagination-controls>

        </div>

      </div>
     
    </div>
  </div>

  <div class="col-md-6">

  <app-formulario-procedimientos (eventop)="listarProcedimientos()"  [enviar]="procedimiento"></app-formulario-procedimientos>
  
   </div>
  </div>