<div class="row">
  <div class="col-md-6">
    <div class="card">
      <div class="card-header">
        <h4 class="card-title"> Pacientes</h4>
      </div>
      <div class="card-body">
          <div class="table-responsive">
  
  
            <table   class="table">
           
             
             <thead class=" text-primary"> 

<th> id</th>
<th> cedula</th>
<th> Nombres y apellidos</th>
            
</thead>
<tbody>

 
      <td> {{paciente?.paciente?.id}}</td>
    <td> {{paciente?.paciente?.cedula}}</td>
      <td> {{paciente?.paciente?.nombre}} {{paciente?.paciente?.apellidos}}</td>

</tbody>


<h4 class="card-title">Cirugias </h4>
<thead class=" text-primary">


<input type="text" [(ngModel)]="query" placeholder="Search.....">
<th> Id</th>
<th> Estado</th>
<th> fecha</th>
<th> Procedimiento</th>
<th> Paciente </th>
</thead>
<tbody>

  <tr *ngFor="let ci of cirugias | paginate:{itemsPerPage: tamano,currentPage:p,totalItems:total}">
    <td>{{ci?.id}}</td>
      <td>{{ci?.estado?.nombre}}</td>
      <td>{{ci?.fecha | date:"yyyy-MM-dd"}} </td>
      <td>{{ci?.procedimiento?.nombre}}</td>
      <td>{{ci?.paciente?.nombre}} {{ci?.paciente?.apellido}}</td>
      
    
      <button (click)="seleccionCirugia(ci)" class="btn btn-primary btn-round">Seleccionar</button>
  </tr>
</tbody>
</table> 
<pagination-controls previousLabel="Anterior"  nextLabel="Siguiente" (pageChange)="p=$event; listarCirugia();"></pagination-controls>
</div></div>
</div> 
</div>

<div class="col-md-14">
<div>
<app-formulario-cirugias (propagar)="listarCirugia()" [cirugiare]="cirugia"></app-formulario-cirugias>
</div></div>