<div class="row">
  <div class="col-md-6">
    <div class="card">
      <div class="card-header">
        <h4 class="card-title">Lista de Estados</h4>
        <!--<input #inputstring (keyup)="capturarString(inputstring.value)" type="text" class="form-control" placeholder="Entidad"/>-->
      </div>
      <div class="card-body">
        <div class="table-responsive">
          <table class="table">
            <thead class=" text-primary">


              <th>
                id

              </th>
              <th> Codigo</th>
                 
              <th> Nombre</th>
              <th> Estado</th>

            </thead>

            <tbody>

              <tr
                *ngFor="let emp of empresas | paginate: { itemsPerPage: tamano, currentPage: p, totalItems:total }">
                <td> {{emp?.id}} </td>                
                <td> {{emp?.codigo}} </td>
                <td>{{emp?.nombre}}</td>
                <td> {{emp?.estado}} </td>
                  <button  (click)="seleccionEmpre(emp)">seleccion</button>

            </tbody>
          </table>
          <pagination-controls previousLabel="Anterior" nextLabel="Siguiente"
            (pageChange)="p=$event; listarEmpresas();"></pagination-controls>

        </div>

      </div>
     
    </div>
  </div>
<div class="card">
  <app-formulario-empresas [emprerecibo]="empresa" (evento)="listarEmpresas()" ></app-formulario-empresas>
